{{#partial "dependencies" }}
	<link rel="stylesheet" href="/css/albums.css" />
{{/partial}}
{{#partial "content" }}
	<header>
		<a href="{{parent.path}}">{{i18n "parent" bundle="text/albums" locale=locale}}</a>
	</header>
	<div class="images">
		<h1>{{name}}</h1>
		{{#each images }}
			<img src="{{link}}" />
		{{/each}}
	</div>
	<div class="albums">
		<h2>{{i18n "nested" bundle="text/albums" locale=locale}}</h2>
		<ul>
			{{#each albums }}
				<li><a href="{{path}}">{{localizedName}}</a></li>
			{{/each}}
		</ul>
	</div>
{{/partial}}

{{>basis}}