{{#partial "dependencies"}}
	<link rel="stylesheet" href="/css/error.css" />
{{/partial}}
{{#partial "content"}}
	<div class="error">
		<h1>{{i18n "commonh1" bundle="text/error" locale=locale}}</h1>
		{{#if error.404}}
			<h2>{{i18n "404h2" bundle="text/error" locale=locale}}</h2>
			<p>{{i18n "404text" bundle="text/error" locale=locale}}</p>
		{{else}}
			<h2>{{i18n "commonh2" bundle="text/error" locale=locale}}</h2>
			<p>{{i18n "commonText" bundle="text/error" locale=locale}}</p>
		{{/if}}
	</div>
{{/partial}}
{{>basis}}